{% block PopularFilms %}
    
<h2>Najpopularniejsze filmy:</h2>
    {% if popular %}
        {% for film in popular %}    
            
            {# wyświetlanie maksymalnie 3 filmów na pasku #}
            {% if(loop.index < 4) %}
                <a href="{{path('film_name',{'id': film.id})}}" class="list-group-item">
                    <span class="badge">{{film.num}}</span>
                        {{film.name}}                
                </a>
            
            {% endif %}
        {% endfor %}
    {# jeżeli nie istnieją żadne filmy, które były wypożyczane #}
    {% else %}
        <dev class="list-group-item"> brak
            <span class="badge">0</span> 
        </dev>
    {% endif %}
{% endblock %}
        