{% extends "UekVodBundle::information.html.twig" %}

  
  {% block content %}

<h2>Twój koszyk: </h2>
        {% for film in name %}
<h4>
 <a class="btn btn-success btn-xs"  href="{{path('fos_user_security_login')}}" role="button">wypożycz</a>
 <a class="btn btn-danger btn-xs"  href="" role="button">usuń</a>
 Wybrany film: {{film}} 
</h4>
	{% endfor %}

{% endblock %}