<h1>Witaj w wypożyczalni</h1>

<form action="{{ path('uek_vod_show_orders') }}" >
        <button type="submit">Pokaż zamówienia</button>
 </form>

<form action="{{ path('login') }}" >
        <button type="submit">Zaloguj</button>
 </form>