{% extends "UekVodBundle::information.html.twig" %}

{% block header %}
  <h1>GATUNEK</h1>
{% endblock %}
  
  {% block content %}
	<h2>Wybrane filmy:</h2>

               {% for film in name %}
 
             {{film.name}}

         {% endfor %}
	
{% endblock %}