{% extends "UekVodBundle::information.html.twig" %}



{% block content %}
 <html>
     <head>
        {# <title>{% block title %}Default title{% endblock %}</title>#}
     </head>
     <body>

     <h1>Lista zamówień:</h1>
     <ul>
         {% for order in orders %}
         <li>{%if order.orderStatus.name == "w trakcie"%}
             <button type="button" class="btn btn-warning btn-xs">{{order.orderStatus.name}}</button>
        {% endif %}
             {%if order.orderStatus.name == "zapłacone"%}
             <button type="button" class="btn btn-success btn-xs " disabled="disabled">{{order.orderStatus.name}}</button>
        {% endif %}
             {{order.date|date('d/m/y H:i', false)}}
             <b>           {{order.films.name}}
             </b>
             </a>   
         </li><br>
         {% endfor %}
     </ul>

     </body>
 </html>
 
 
 {% endblock %}