{% extends "UekVodBundle::information.html.twig" %}

{% block header %}<a href="{{path('uek_vod_homepage')}}" class="list-group-item">
  <h1>Strona główna</h1></a>
{% endblock %}

{% block content %}
 <html>
     <head>
        {# <title>{% block title %}Default title{% endblock %}</title>#}
     </head>
     <body>
         
     <h1>List of orders</h1>
     <ul>
         {% for post in orders %}
         <li>
   
             {{post.films.name}}
             {{post.date|date("F jS \\a\\t g:ia")}}
             
             </a>
         </li>
         {% endfor %}
     </ul>

     </body>
 </html>
 
 
 {% endblock %}