{% extends "UekVodBundle::information.html.twig" %}



{% block content %}
 <html>
     <head>
        {# <title>{% block title %}Default title{% endblock %}</title>#}
     </head>
     <body>

     <h1>Lista zamówień:</h1>
     <ul>
         {% for post in orders %}
         <li>
             {{post.date|date('d/m/y H:i', false)}}
             <b>           {{post.films.name}}
             </b>
             </a>   
         </li>
         {% endfor %}
     </ul>

     </body>
 </html>
 
 
 {% endblock %}