<!DOCTYPE html>
 <html>
     <head>
         <title>{% block title %}Default title{% endblock %}</title>
     </head>
     <body>
         {% block body %}
     <h1>List of orders</h1>
     <ul>
         {#% for post in posts %#}
         <li>
             {#{post.vodOrderId}#}
             {#{post.vodFilmId}#}
             
             </a>
         </li>
         {#% endfor %#}
     </ul>
 <form action="{{ path('uek_vod_homepage') }}" >
        <button type="submit">Strona główna</button>
 </form>
 <form action="{{ path('logout') }}" >
        <button type="submit">Wylogouj</button>
 </form>
 {% endblock %}
     </body>
 </html>